<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-button size="small">
        <img alt="Bruno Logo" height='40' width='70'
        src="https://i.ibb.co/TMRpNwKF/Bruno-Logo.png" />
      </ion-button>
    </ion-title>
      <ion-searchbar animated="true" placeholder="Search Jobs"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Browse by category</h1>

  <h2 class="ion-text-left">
    <ion-button size="large">
      <ion-icon name="car-Sport" size="large" aria-hidden="true" class="ion-padding" color="secondary"></ion-icon>
    </ion-button>
    Cars and SUVS
  </h2>
  <h2 class="ion-text-left">
    <ion-button size="large">
      <ion-icon name="bicycle" size="large" aria-hidden="true" class="ion-padding" color="secondary"></ion-icon>
    </ion-button>
    Motorbikes
  </h2>
  <h2 class="ion-text-left">
    <ion-button size="large">
      <ion-icon name="boat" size="large" aria-hidden="true" class="ion-padding" color="secondary"></ion-icon>
    </ion-button>
    Boats and water vehicles
  </h2>
  <h2 class="ion-text-left">
    <ion-button size="large">
      <ion-icon name="airplane" size="large" aria-hidden="true" class="ion-padding" color="secondary"></ion-icon>
    </ion-button>
    Airplanes
  </h2>
  
</ion-content>
