<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-button size="small">
        <img alt="Bruno Logo" height='40' width='40'
        src="https://i.ibb.co/TMRpNwKF/Bruno-Logo.png" />
      </ion-button>
      <ion-searchbar animated="true" placeholder="Search Jobs"></ion-searchbar>
      <ion-button>
        <ion-icon name="settings" size="large" aria-hidden="true" class="ion-padding" color="medium"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Account xd</h1>

  <h2 class="ion-text-left">
    <ion-button size="large">
      <ion-icon name="car-Sport" size="large" aria-hidden="true" class="ion-padding" color="secondary"></ion-icon>
    </ion-button>
  </h2>
  <h2 class="ion-text-left">
    <ion-button size="large">
      <ion-icon name="bicycle" size="large" aria-hidden="true" class="ion-padding" color="secondary"></ion-icon>
    </ion-button>
  </h2>
  <h2 class="ion-text-left">
    <ion-button size="large">
      <ion-icon name="boat" size="large" aria-hidden="true" class="ion-padding" color="secondary"></ion-icon>
    </ion-button>
  </h2>
  <h2 class="ion-text-left">
    <ion-button size="large">
      <ion-icon name="airplane" size="large" aria-hidden="true" class="ion-padding" color="secondary"></ion-icon>
    </ion-button>
  </h2>
  
</ion-content>
