<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-button size="small">
        <img alt="Bruno Logo" height='40' width='70'
        src="https://i.ibb.co/TMRpNwKF/Bruno-Logo.png" />
      </ion-button>
    </ion-title>
      <ion-searchbar animated="true" placeholder="Search Jobs"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    
    <ion-item>
      <ion-select label="Have you ever detailed your car?" placeholder="Q1">
        <ion-select-option value="yes">Yes</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="If you do, how you do it?" placeholder="Q2">
        <ion-select-option value="dim">Do it myself</ion-select-option>
        <ion-select-option value="pro">I hire a profesional</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Have you ever experienced difficulty on finding an auto detailer?" placeholder="Q3">
        <ion-select-option value="yes">Yes</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="What vehicle do you want do detail?" placeholder="Q4" [multiple]="true">
        <ion-select-option value="car">Car</ion-select-option>
        <ion-select-option value="suv">SUV</ion-select-option>
        <ion-select-option value="bike">Motorbike</ion-select-option>
        <ion-select-option value="boat">Boat</ion-select-option>
        <ion-select-option value="plane">Airplane</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="How much do you expect to pay?" placeholder="Q5">
        <ion-select-option value="1">Less than $100</ion-select-option>
        <ion-select-option value="2">$101 - $200</ion-select-option>
        <ion-select-option value="3">$201 - $500</ion-select-option>
        <ion-select-option value="4">$501 - $1000</ion-select-option>
        <ion-select-option value="5">More than $1001</ion-select-option>
      </ion-select>
    </ion-item>
    
  </ion-list>

  <ion-title class="ion-text-center">
    <ion-button size="small">
      Submit
    </ion-button>
  </ion-title>
  
</ion-content>